body{
    background-color: rgb(5, 39, 39);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 33%;
    margin-top: 200px;
}

input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(36, 102, 102);
    outline: none;
    font-size: 19px;
}

button{
    width: 60px;
    height: 41px;
    background-color: rgb(20, 17, 17);
    color: white;
    border-radius: 2px;
    font-size: 19px;
    cursor: pointer;
}

.text ul{
    position: relative;
    background-color: rgb(5, 39, 39);
    color: #fff;
    font-size: 19px;
    text-align: left;
    padding: 10px;
}

.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}